@media (max-width: 1000px) {

    .navbar {
        padding: 15px 4%;
    }

    .navbar nav {
        gap: 12px;
    }

    .hero {
        grid-template-columns: 1fr;

        text-align: center;
    }

    .hero-content > p {
        margin-left: auto;
        margin-right: auto;
    }

    .hero-buttons {
        justify-content: center;
    }

    .feature-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }

    .service-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }

    .flow-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }

    .dashboard-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }
}


@media (max-width: 700px) {

    .navbar {
        height: auto;

        flex-direction: column;

        gap: 15px;

        padding: 18px;
    }

    .navbar nav {
        flex-wrap: wrap;

        justify-content: center;
    }

    .nav-button {
        display: none;
    }

    .hero {
        padding: 70px 5%;
    }

    .hero h1 {
        font-size: 45px;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .stats {
        grid-template-columns:
            repeat(2, 1fr);

        padding: 25px 5%;
    }

    .section {
        padding: 60px 5%;
    }

    .section-heading h2,
    .section h2 {
        font-size: 32px;
    }

    .feature-grid,
    .service-grid,
    .project-grid,
    .flow-grid,
    .dashboard-grid {
        grid-template-columns: 1fr;
    }

    .about-grid,
    .contact-grid {
        grid-template-columns: 1fr;
    }

    .page-hero h1 {
        font-size: 40px;
    }

    .cta {
        margin: 20px 5% 60px;

        padding: 35px;

        flex-direction: column;

        align-items: flex-start;
    }

    .footer-content {
        grid-template-columns: 1fr;
    }

    .dashboard-header {
        flex-direction: column;

        align-items: flex-start;

        gap: 20px;
    }

    .dashboard-header h1 {
        font-size: 32px;
    }

    .mini-flow {
        flex-direction: column;
    }

    .mini-flow span {
        transform: rotate(90deg);
    }

    table {
        font-size: 12px;
    }
}